---
layout: default

intro1:
  - title: IN MALAYSIA

intro2:
  - title: MALAYSIA DISTRIBUTOR

instapix:
  - pic: instagram01.jpg
  - pic: instagram02.jpg
  - pic: instagram03.jpg
  - pic: instagram04.jpg
  - pic: instagram05.jpg
  - pic: instagram06.jpg

---

<!--home page blurb-->
<section class="background-section">
  <div class="intro-section relative">

    <div class="intro-section-content desktop-show">
      <div>
        <h1>OFFICIAL DISTRIBUTOR FOR</h1>
      </div>
        <a href="http://www.melissaanddoug.com/" target="_blank"><img src="images/md_logo.png"></a>
      {% for intro1 in page.intro1 %}
      <div>
        <h1> {{intro1.title}} </h1>
      </div>
      {% endfor %}
      <div class="link-block">
        <a href="/contact" class="btn btn-action1">Contact Us</a>
      </div>
    </div>

<!--move blurb on mobile view to bottom-->
    <div class="intro2-section-content relative tablet-show">
      <div class="link-block">
        <a href="/contact" class="btn btn-action1">Contact Us</a>
      </div>
      <div class="mdlogo">
        <a href="http://www.melissaanddoug.com/" target="_blank"><img src="images/md_logo.png"></a>
      </div>
      {% for intro2 in page.intro2 %}
        <div>
          <h2>{{intro2.title}}</h2>
        </div>
      {% endfor %}
    </div>

  </div>
</section>


    {% include main.html %}
    {% include message.html %}
    {% include instagram.html %}
