---
layout: default

instapix:
  - pic: instagram01.jpg
  - pic: instagram02.jpg
  - pic: instagram03.jpg
  - pic: instagram04.jpg
  - pic: instagram05.jpg
  - pic: instagram06.jpg

---
<section class="online-banner">
  <h2>Shop online!</h2>
</section>

<div class="pagetop-blurb pagetop-blurb-content">
  <h3>
    Make sure you're getting genuine Melissa & Doug products<br />
    through our approved online retailers!
  </h3>
</div>

<!-- stores page section-->
  <section class="shop-section">
    <div class="shop-section-content">
      <section>

        <div class="grid-equalheight grid-center">
          <div class="col-2_sm-12 shoplist-tile">
            <a href="https://www.janieandjoe.com/brands/melissa-doug" target="_blank">
            <img src="images/onlinelogojanieandjoe.png" alt="">
            </a>
          </div>
          <div class="col-2_sm-12 shoplist-tile">
            <a href="http://ho.lazada.com.my/SHRJdT" target="_blank"><img src="images/onlinelogolazada.png" alt="">
            </a>
          </div>
          <div class="col-2_sm-12 shoplist-tile">
            <a href="https://shopee.com.my/amberbrook" target="_blank"><img src="images/onlinelogoshopee.png" alt="">
            </a>
          </div>
          <div class="col-2_sm-12 shoplist-tile">
            <a href="http://www.esp4u.com/toys/melissa_doug.aspx" target="_blank"><img src="images/onlinelogomphclick.png" alt="">
            </a>
          </div>
        </div>

      </section>
    </div>
  </section>


      {% include message.html %}
      {% include instagram.html %}
