---
layout: default

instapix:
  - pic: instagram01.jpg
  - pic: instagram02.jpg
  - pic: instagram03.jpg
  - pic: instagram04.jpg
  - pic: instagram05.jpg
  - pic: instagram06.jpg

---
<section class="online-banner">
  <h2>Shop online!</h2>
</section>

<div class="pagetop-blurb pagetop-blurb-content">
  <h3>
    Make sure you're getting genuine Melissa & Doug products<br />
    through our approved online retailers!
  </h3>
</div>

<!-- stores page section-->
  <section class="shop-section">
    <div class="shop-section-content">
      <section>

        <div class="grid-equalheight grid-center">
          <div class="col-2_sm-12 shoplist-tile">
            <a href="https://www.janieandjoe.com/" target="_blank">
            <img src="images/onlinelogojanieandjoe.png" alt="">
            </a>
          </div>
          <div class="col-2_sm-12 shoplist-tile">
            <a href="http://ho.lazada.com.my/SHYmjZ?sku=&redirect=http%3A%2F%2Fho.lazada.com.my%2FSHYmja%3Furl%3Dhttp%253A%252F%252Fwww.lazada.com.my%252Fshop%252Famberbrook-learning%253foffer_id%253D%257Boffer_id%257D%2526affiliate_id%253D%257Baffiliate_id%257D%2526offer_name%253D%257Boffer_name%257D_%257Boffer_file_id%257D%2526affiliate_name%253D%257Baffiliate_name%257D%2526transaction_id%253D%257Btransaction_id%257D" target="_blank"><img src="images/onlinelogolazada.png" alt="">
            </a>
          </div>
          <div class="col-2_sm-12 shoplist-tile">
            <a href="https://shopee.com.my/amberbrook" target="_blank"><img src="images/onlinelogoshopee.png" alt="">
            </a>
          </div>
          <!--
          <div class="col-2_sm-12 shoplist-tile">
            <a href="http://www.esp4u.com/toys/melissa_doug.aspx" target="_blank"><img src="images/onlinelogomphclick.png" alt="">
            </a>
          </div>
        -->
        </div>

      </section>
    </div>
  </section>


      {% include message.html %}
      {% include instagram.html %}
