---
layout: default

instapix:
  - pic: instagram01.jpg
  - pic: instagram02.jpg
  - pic: instagram03.jpg
  - pic: instagram04.jpg
  - pic: instagram05.jpg
  - pic: instagram06.jpg

---
<section class="stores-banner">
  <h2>Store Finder</h2>
</section>

<div class="pagetop-blurb pagetop-blurb-content">
  <h3>
    Discover toys that will spark your child's imagination<br  />
    ...and develop skills for a lifetime of success!
  </h3>
</div>

<div class="stores-heading">
  <h3>We're in Malaysia's best independent toy stores...</h3>
</div>

<!-- Stores Page section -->
<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="https://www.facebook.com/carousel.publika" target="_blank"><img src="images/logocarousel.jpg" alt="Carousel logo">
    </a>
  </div>

  <div class="col-5_sm-12 storeslist-tile">
    <h4>Carousel Publika</h4>
    <p>
      Lot 14 Level G3, Publika,<br />
      1 Jalan Dutamas 1, Solaris Dutamas,<br />
      50480 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 6206 3618
    </p>
    <h4>Carousel Arkadia</h4>
    <p>
      G-M-7 Plaza Arkadia,<br />
      No. 3, Jalan Intisari Perdana, Desa ParkCity,<br />
      52200 Kuala Lumpur
    </p>
    <p>
      <a href="https://www.facebook.com/carousel.publika" target="_blank">www.facebook.com/carousel.publika</a>
    </p>
  </div>

  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="https://www.facebook.com/carousel.publika" target="_blank"><img src="images/storecarousel.jpg" alt="Carousel store photo">
    </a>
  </div>

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="https://www.facebook.com/hamleysmalaysia" target="_blank"><img src="images/logohamleys.jpg" alt="Hamleys logo">
    </a>
  </div>

  <div class="col-5_sm-12 storeslist-tile">
    <h4>Hamleys 1 Utama</h4>
    <p>
      Lot F319, 1st Floor, 1 Utama Shopping Centre,<br />
      No.1 Lebuh Bandar Utama, Bandar Utama Damansara,<br />
      47800 Petaling Jaya, Selangor<br />
      <span class="thick">Tel: </span>+603 7722 2672
    </p>
    <h4>Hamleys KLIA</h4>
    <p>
      Lot SATP E01, North Zone, Passenger Level,<br />
      Kuala Lumpur International Airport,<br />
      64000 Sepang, Selangor
    </p>
    <h4>Hamleys Atria Shopping Gallery</h4>
    <p>
      F09-F11, 1st Floor, Atria Shopping Gallery,<br />
      Jalan SS 22/23, Damansara Jaya,<br />
      47400 Petaling Jaya, Selangor<br />
      <span class="thick">Tel: </span>+603 7732 8419
    </p>
    <h4>Hamleys Quill City Mall</h4>
    <p>
      Unit 1-01 to 1-03, 1st Floor, Quill City Mall,<br />
      1018, Jalan Sultan Ismail,<br />
      50250 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 2602 2129
    </p>
    <h4>Hamleys Genting Highlands Premium Outlets</h4>
    <p>
      Suite 520, Genting Highlands Premium Outlets,<br />
      KM13, Genting Highlands Resort,<br />
      69000 Genting Highlands, Pahang
    </p>
    <h4>Hamleys The Curve</h4>
    <p>
      6, Jalan PJU 7/3, The Curve Shopping Mall,<br />
      Mutiara Damansara,<br />
      47800 Petaling Jaya, Selangor
    </p>
    <p>
      <a href="https://www.facebook.com/hamleysmalaysia" target="_blank">www.facebook.com/hamleysmalaysia</a>
    </p>
  </div>

  <div class="col-4_sm-12 stores-image zoompic">
    <a href="https://www.facebook.com/hamleysmalaysia" target="_blank"><img src="images/storehamleys.jpg" alt="Hamleys store photo">
    </a>
  </div>

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="https://www.janieandjoe.com" target="_blank"><img src="images/logojanieandjoe.jpg" alt="Janie and Joe the best toy store in Malaysia logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>Janie & Joe</h4>
    <p>
      F23 1st Floor, Bangsar Village 1,<br />
      1 Jalan Telawi 1, Bangsar Baru,<br />
      59100 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 2282 1845
    </p>
    <p>
      <a href="https://www.janieandjoe.com" target="_blank">www.janieandjoe.com</a><br />
      <a href="https://www.facebook.com/janieandjoetoys" target="_blank">www.facebook.com/janieandjoetoys</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a href="https://www.janieandjoe.com" target="_blank"><img src="images/storejanieandjoe.jpg" alt="Janie and Joe the best toy store Malaysia photo">
    </a>
  </div>

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="https://www.facebook.com/yorkhouse111/" target="_blank"><img src="images/logoyorkhouse.jpg" alt="York House logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>York House</h4>
    <p>
      Lot S111, 2nd Floor, Bangsar Shopping Centre,<br />
      285 Jalan Maarof, Bukit Bandaraya,<br />
      59000 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 2287 8133
    </p>
    <p>
      <a href="https://www.facebook.com/yorkhouse111/" target="_blank">www.facebook.com/yorkhouse111</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="https://www.facebook.com/yorkhouse111/" target="_blank"><img src="images/storeyorkhouse.jpg" alt="York House store photo">
    </a>
  </div>

</section>

<div class="stores-heading">
  <h3>Department stores...</h3>
</div>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="http://www.robinsons.com.my/" target="_blank"><img src="images/logorobinsons.jpg" alt="Robinsons logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>Robinsons</h4>
    <p>
      Lot G-211, The Gardens,<br />
      Mid Valley City, Lingkaran Syed Putra,<br />
      59200 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 2089 1188
    </p>
    <h4>OPENING 2018!</h4>
    <h4>Robinsons Four Seasons</h4>
    <p>
      Four Seasons Place,<br />
      Kuala Lumpur City Centre,<br />
      50088 Kuala Lumpur
    </p>
    <p>
      <a href="http://www.robinsons.com.my/" target="_blank">www.robinsons.com.my</a><br />
      <a href="https://www.facebook.com/RobinsonsMY" target="_blank">www.facebook.com/RobinsonsMY</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="http://www.robinsons.com.my/" target="_blank"><img src="images/storerobinsons.jpg" alt="Robinsons store photo">
    </a>
  </div>

</section>

<div class="stores-heading">
  <h3>Bookstores across the country...</h3>
</div>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="https://www.kinokuniya.com.my/" target="_blank"><img src="images/logokinokuniya.jpg" alt="Books Kinokuniya logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>Books Kinokuniya</h4>
    <p>
      Lot 406-408 & 429-430, Level 4, Suria KLCC<br />
      Kuala Lumpur City Centre,<br />
      50088 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 2164 8133
    </p>
    <p>
      <a href="https://www.kinokuniya.com.my/" target="_blank">www.kinokuniya.com.my</a><br />
      <a href="https://www.facebook.com/KinokuniyaMalaysia" target="_blank">www.facebook.com/KinokuniyaMalaysia</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a href="https://www.kinokuniya.com.my/" target="_blank"><img src="images/storekinokuniya.jpg" alt="Books Kinokuniya store photo">
    </a>
  </div>

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="http://www.esp4u.com/toys/melissa_doug.aspx" target="_blank"><img src="images/logomph.jpg" alt="MPH logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>MPH Bookstores Mid Valley</h4>
    <p>
      Lot LG-058, Lower Ground Floor, Mid Valley Megamall<br />
      Mid Valley City, Lingkaran Syed Putra,<br />
      59200 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 2938 3818
    </p>
    <h4>MPH Bookstores Publika</h4>
    <p>
      Lot No. Part 7B, Part 8B & 9, Level G2, Publika,<br />
      Solaris Dutamas, Jalan Dutamas 1,<br />
      50480 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 6205 3226
    </p>
    <h4>MPH Bookstores Nu Sentral</h4>
    <p>
      Lot 13 & 14, Level 2 Nu Sentral Mall,<br />
      Jalan Tun Sambanthan KL Sentral,<br />
      50470 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 2276 2765
    </p>
    <h4>MPH Bookstores 1 Utama</h4>
    <p>
      F319 & S319, 1st & 2nd F, 1 Utama Shopping Centre,<br />
      No 1, Lebuh Bandar Utama, Bandar Utama,<br />
      47800 Petaling Jaya, Selangor<br />
      <span class="thick">Tel: </span>+603 7725 9003
    </p>
    <h4>MPH Bookstores D'Pulze</h4>
    <p>
      LG-10, Lower Ground F, D'Pulze Cyberjaya Shopping Centre,<br />
      Lot 47594, Mukim Dengkil,<br />
      63000 Sepang, Selangor<br />
      <span class="thick">Tel: </span>+603 8688 2573
    </p>
    <h4>MPH Bookstores Subang Parade</h4>
    <p>
      G 26A(1), G26B-C & G26D(1), Grd F, Subang Parade,<br />
      No 5, Jalan SS16/1, Subang Jaya,<br />
      47500 Petaling Jaya, Selangor<br />
      <span class="thick">Tel: </span>+603 5633 9079
    </p>
    <h4>MPH Bookstores Vivacity Megamall</h4>
    <p>
      Lot 2-014, Level 2, Vivacity Megamall,<br />
      Jalan Wan Alwi,<br />
      93350 Kuching, Sarawak<br />
      <span class="thick">Tel: </span>+6082 263 975
    </p>
    <p>
      <a href="http://www.esp4u.com/toys/melissa_doug.aspx" target="_blank">www.esp4u.com/toys/melissa_doug.aspx</a><br />
      <a href="https://www.facebook.com/mphclick/" target="_blank">www.facebook.com/mphclick</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a href="http://www.esp4u.com/toys/melissa_doug.aspx" target="_blank"><img src="images/storemph.jpg" alt="MPH store photo">
    </a>
  </div>

</section>

<div class="stores-heading">
  <h3>We're even in specialty grocers...</h3>
</div>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="https://big.com.my/" target="_blank"><img src="images/logobig.png" alt="Ben's Independent Grocer logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>B.I.G. Publika</h4>
    <p>
      Lot No. 1A, 83-95, Level UG1, Publika,<br />
      1 Jalan Dutamas 1, Solaris Dutamas,<br />
      50480 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 6205 2046
    </p>
    <h4>B.I.G. GLO Damansara</h4>
    <p>
      Lot No. LG.01, Lower Ground, GLO Damansara,<br />
      No. 699, Jalan Damansara,<br />
      60000 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 7733 6363
    </p>
    <p>
      <a href="https://big.com.my/" target="_blank">www.big.com.my</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="https://big.com.my/" target="_blank"><img src="images/storebig.jpg" alt="Ben's Independent Grocer store photo">
    </a>
  </div>

</section>

<div class="stores-heading">
  <h3>...neigbourhood enrichment centres...</h3>
</div>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="http://www.gymboreeclasses.com.my/" target="_blank"><img src="images/logogymboree.jpg" alt="Gymboree logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>Gymboree Bangsar Village 2</h4>
    <p>
      Lot 3F-1B, Third Floor, Bangsar Village 2,<br />
      2 Jalan Telawi 1, Bangsar Baru,<br />
      59100 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 2284 5602
    </p>
    <h4>Gymboree Publika</h4>
    <p>
      Lot 41 & 42, Level G3, Publika,<br />
      1 Jalan Dutamas 1, Solaris Dutamas,<br />
      50480 Kuala Lumpur<br />
      <span class="thick">Tel: </span>+603 6203 5608
    </p>
    <h4>Gymboree Empire Subang</h4>
    <p>
      S10, Level 2 Empire Subang,<br />
      Jalan SS 16/1,<br />
      47500 Subang Jaya, Selangor<br />
      <span class="thick">Tel: </span>+603 5613 2972
    </p>
    <h4>Gymboree IOI City Mall, Putrajaya</h4>
    <p>
      L2-53, IOI City Mall,<br />
      Lebuh IRC, IOI Resort City,<br />
      62502 Putrajaya, Wilayah Persekutuan<br />
      <span class="thick">Tel: </span>+60 12 883 2861
    </p>
    <p>
      <a href="http://www.gymboreeclasses.com.my/" target="_blank">www.gymboreeclasses.com.my</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="http://www.gymboreeclasses.com.my/" target="_blank"><img src="images/storegymboree.jpg" alt="Gymboree photo">
    </a>
  </div>

</section>

<div class="stores-heading">
  <h3>...and Malaysia's best hotels and resorts!</h3>
</div>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="http://www.cameronhighlandsresort.com/" target="_blank"><img src="images/logocameronhighlands.png" alt="Cameron Highlands Resort logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>Cameron Highlands Resort, Pahang</h4>
    <p>
      By The Golf Course,<br />
      Cameron Highlands,<br />
      39000 Tanah Rata, Pahang<br />
      <span class="thick">Tel: </span>+605 491 1100
    </p>
    <p>
      <a href="http://www.cameronhighlandsresort.com/" target="_blank">www.cameronhighlandsresort.com</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="http://www.cameronhighlandsresort.com/" target="_blank"><img src="images/storecameronhighlands.jpg" alt="Cameron Highlands Resort photo">
    </a>
  </div>

</section>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="http://www.shangri-la.com/penang/rasasayangresort/" target="_blank"><img src="images/logoshangrilapenang.png" alt="Shangri-La Rasa Sayang Resort Penang logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>Shangri-La Rasa Sayang Resort & Spa, Penang</h4>
    <p>
      Batu Feringgi Beach,<br />
      11100 Penang<br />
      <span class="thick">Tel: </span>+604 888 8888
    </p>
    <p>
      <a href="http://www.shangri-la.com/penang/rasasayangresort/" target="_blank">www.shangri-la.com/penang/rasasayangresort</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="http://www.shangri-la.com/penang/rasasayangresort/" target="_blank"><img src="images/storeshangrilapenang.png" alt="Shangri La Rasa Sayang Resort Penang photo">
    </a>
  </div>

</section>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="http://www.tanjongjararesort.com/" target="_blank"><img src="images/logotanjongjara.png" alt="Tanjong Jara Resort logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>Tanjong Jara Resort, Terengganu</h4>
    <p>
      Batu 8, Off Jalan Dungun,<br />
      23000 Dungun, Terengganu<br />
      <span class="thick">Tel: </span>+609 845 1100
    </p>
    <p>
      <a href="http://www.tanjongjararesort.com/" target="_blank">www.tanjongjararesort.com</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="http://www.tanjongjararesort.com/" target="_blank"><img src="images/storetanjongjara01.jpg" alt="Tanjong Jara Resort photo">
    </a>
  </div>

</section>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="http://www.thetaaras.com/" target="_blank"><img src="images/logotaaras.png" alt="The Taaras Beach and Spa Resort logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>The Taaras Beach & Spa Resort, Terengganu</h4>
    <p>
      Pulau Redang,<br />
      20928 Redang Island, Terengganu<br />
      <span class="thick">Tel: </span>+609 630 8888
    </p>
    <p>
      <a href="http://www.thetaaras.com/" target="_blank">www.thetaaras.com</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="http://www.thetaaras.com/" target="_blank"><img src="images/storetaaras.png" alt="The Taaras Beach and Spa Resort photo">
    </a>
  </div>

</section>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="http://www.gayaislandresort.com/" target="_blank"><img src="images/logogaya.png" alt="Gaya Island Resort logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>Gaya Island Resort, Sabah</h4>
    <p>
      Malohom Bay,<br />
      Tunku Abdul Rahman Marine Park,<br />
      88000 Kota Kinabalu, Sabah<br />
      <span class="thick">Tel: </span>+60 18 939 1100
    </p>
    <p>
      <a href="http://www.gayaislandresort.com/" target="_blank">www.gayaislandresort.com</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="http://www.gayaislandresort.com/" target="_blank"><img src="images/storegaya.jpg" alt="Gaya Island Resort photo">
    </a>
  </div>

</section>

<section class="stores-section grid-equalheight">

  <div class="col-3_sm-12 storeslist-tile stores-logo zoompic">
    <a  href="http://www.shangri-la.com/kotakinabalu/tanjungaruresort/" target="_blank"><img src="images/logoshangrilatanjungaru.jpg" alt="Shangri La Tanjung Aru Resort logo">
    </a>
  </div>
  <div class="col-5_sm-12 storeslist-tile">
    <h4>Shangri-La Tanjung Aru Resort & Spa, Sabah</h4>
    <p>
      No. 20 Jalan Aru,<br />
      Tanjung Aru,<br />
      88100 Kota Kinabalu, Sabah<br />
      <span class="thick">Tel: </span>+60 88 327 888
    </p>
    <p>
      <a href="http://www.shangri-la.com/kotakinabalu/tanjungaruresort/" target="_blank">www.shangri-la.com/kotakinabalu/tanjungaruresort</a>
    </p>
  </div>
  <div class="col-4_sm-12 stores-image zoompic">
    <a  href="http://www.shangri-la.com/kotakinabalu/tanjungaruresort/" target="_blank"><img src="images/storeshangrilatanjungaru.jpg" alt="Shangri La Tanjung Aru Resort photo">
    </a>
  </div>

</section>

    {% include message.html %}
    {% include instagram.html %}
