---
layout: default

instapix:
  - pic: instagram01.jpg
  - pic: instagram02.jpg
  - pic: instagram03.jpg
  - pic: instagram04.jpg
  - pic: instagram05.jpg
  - pic: instagram06.jpg

---
<section class="toys-banner">
  <h2>Countless Ways To Play!</h2>
</section>

<div class="pagetop-blurb pagetop-blurb-content">
  <h3>
    “It's when we're bored and have to dig deep to find ways to fill our time that imagination is born.”
  </h3>
  <p>
    - Melissa, co-founder of Melissa & Doug
  </p>
</div>


<!--this is the toys list showing all categories of toys-->
<div class="grid-equalheight">
  <div class="col-6_md-12 toyslist-tile toys-image" style="background-image: url(images/toysactivitypads.png)">
  </div>
  <div class="col-6_md-12 toyslist-tile toyslist-section-content1">
    <div class="toysblurb">
      <h2>Activity Pads</h2>
    </div>
    <div class="toystext">
      <p>Sticker collections, colouring pads and craft books come in a variety of themes and formats.</p>
      <p>We have secret decoder sets that let kids solve mysteries with magic ink, to Paint With Water sets for beginners.</p>
      <p>Our Water WOW! activity pads are compact and portable, perfect for travel!</p>
      <div>
        <a href="store-finder.html" class="btn btn-action2">find a store</a>
      </div>
    </div>
  </div>
</div>

<div class="grid-equalheight toys-flip">
  <div class="col-6_md-12 toyslist-tile toyslist-section-content2">
    <div class="toysblurb">
      <h2>Developmental Toys</h2>
    </div>
    <div class="toystext">
      <p>Our classic developmental skill builders and early learning toys never go out of style!</p>
      <p>Help build gross and fine motor skills, counting, number, sorting and stacking, and encourage alphabet activities.</p>
      <p>Durable construction makes these toys ideal for growing minds.</p>
        <div>
          <a href="shop.html" class="btn btn-action2">buy online</a>
        </div>
      </div>
  </div>
  <div class="col-6_md-12 toyslist-tile toys-image" style="background-image: url(images/toysdevelopmental.png)">
  </div>
</div>

<div class="grid-equalheight">
  <div class="col-6_md-12 toyslist-tile toys-image" style="background-image: url(images/toysartsandcrafts.png)">
  </div>
  <div class="col-6_md-12 toyslist-tile toyslist-section-content3">
    <div class="toysblurb">
      <h2>Arts & Crafts</h2>
    </div>
    <div class="toystext">
      <p>Our easy-to-use art supplies and confidence-building craft kits let kids express themselves.</p>
      <p>From wooden bead kits and mess-free glitter, to classic wooden stamping sets, we have something for every taste!</p>
      <p>Our easels and art supplies offer quality creative tools to bring out the true artist!</p>
      <div>
        <a href="store-finder.html" class="btn btn-action2">find a store</a>
      </div>
    </div>
  </div>
</div>

<div class="grid-equalheight toys-flip">
  <div class="col-6_md-12 toyslist-tile toyslist-section-content1">
    <div class="toysblurb">
      <h2>Puzzles</h2>
    </div>
    <div class="toystext">
      <p>Choose from wooden puzzles with pegs or textures, to giant floor puzzles packed with colourful details.</p>
      <p>Our chunky puzzles are just right for toddlers and preschoolers. They're easy to handle, quick to solve.</p>
      <p>Our sound puzzles are very popular, introducing the world to toddlers.</p>
      <div>
        <a href="shop.html" class="btn btn-action2">buy online</a>
      </div>
    </div>
  </div>
  <div class="col-6_md-12 toyslist-tile toys-image" style="background-image: url(images/toyspuzzles.png)">
  </div>
</div>

  <div class="grid-equalheight">
    <div class="col-6_md-12 toyslist-tile toys-image" style="background-image: url(images/toyspretendplay.png)">
    </div>
    <div class="col-6_md-12 toyslist-tile toyslist-section-content2">
      <div class="toysblurb">
        <h2>Pretend Play</h2>
      </div>
      <div class="toystext">
        <p>Realistic play kitchens, play food and accessories bring make-believe worlds to life!</p>
        <p>Our quality wooden kitchen sets are a firm favourite for any budding young chef keen to whip up culinary delights.</p>
        <p>Role play outfits let kids create imaginary worlds. They can dress up as doctors, mermaids, pirates, knights, princesses, astronauts, engineers or rock stars!</p>
        <div>
          <a href="store-finder.html" class="btn btn-action2">find a store</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-equalheight toys-flip">
    <div class="col-6_md-12 toyslist-tile toyslist-section-content3">
      <div class="toysblurb">
        <h2>Plush Toys</h2>
      </div>
      <div class="toystext">
        <p>Furry, fuzzy, soft and cuddly friends of all sizes are crafted from top quality materials. They'll be huggable companions for years to come!</p>
        <p>Our collection of lifelike animals include creatures from the forest to the farm, the savanna to the sea, while our fantasy friends collection brings magical dragons and unicorns to life!</p>
        <div>
          <a href="shop.html" class="btn btn-action2">buy online</a>
        </div>
      </div>
    </div>
    <div class="col-6_md-12 toyslist-tile toys-image" style="background-image: url(images/toysplush.png)">
    </div>
  </div>

  <section class="story-banner">
    <h2>Let's Take Back Childhood!</h2>
  </section>

  <div class="pagetop-blurb pagetop-blurb-content">
    <h3>
      “Kids who are just passively stimulated by a glowing screen don't have to do the neural heavy lifting to create those images... thus stunting their own creative abilities.”
    </h3>
    <p>
      - Dr. Nicholas Kardaras, PhD and Childhood Addiction Specialist
    </p>
  </div>

  <!--
      {% include message.html %}
  -->    
      {% include instagram.html %}
