<!--Footer-->
<footer class="grid-middle">

  <!--social media links and contact link-->
  <nav class="footer-links col-12">
    <a href="https://www.facebook.com/jefintoys" target="_blank"><img width="32" width="32" src=/images/iconfacebook.svg /></a>
    <a href="https://twitter.com/jefintoys" target="_blank"><img width="32" width="32" src=/images/icontwitter.svg /></a>
    <a href="https://www.instagram.com/jefintoys/" target="_blank"><img width="32" width="32" src=/images/iconinstagram.svg /></a>

  </nav>

  <nav class="footer-docs col-12">
    <a href="/terms">Terms</a>
    <a href="/privacy">Privacy</a>
  </nav>

  <nav class="footer-docs col-12">
    <a href="#top">-back to top-</a>
  </nav>

  <div class="col-12 footer-copyright">
    <p>
      Copyright Jefin Toys 2017 | Website by <a href="https://www.facebook.com/studiostripes/" target="_blank">STUDIO STRIPES
    </p>
  </div>

</footer>
