<header class="grid-middle">
  <div class="logo col-2_lg-2_md-3_sm-4_xs-5">
    <a href="/index.html">
      <img src="/images/logo.png" alt="Jefin Toys distributor in Malaysia for Melissa and Doug logo">
    </a>
  </div>
  <nav class="nav-link col-10_lg-10_md-0_sm-0_xs-0">
    <a href="/story">Our Story</a>
    <a href="/toys">Our Toys</a>
    <a href="/stores">Our Stores</a>
    <a href="/shop">Buy Online</a>
    <!-- <a href="/community">Community</a>  -->
    <a href="/contact">Contact</a>
  </nav>

  <!--mobile phone and tablet view-->
  <nav class="tablet-show col-0_lg-0_md-6_sm-6_xs-6">
    <div>
      <a href="/shop.html" class="btn btn-action">buy online</a>
    </div>

  </nav>
</header>
