<head>
  <!--page title and meta data-->
  <title>Jefin Toys- official Melissa and Doug distributor in Malaysia</title>

<!--HIDE PAGE FROM SEARCH ENGINES WHILE TESTING- REMEMBER TO REMOVE-->
<meta name="robots" content="noindex">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


  <meta name="keywords" content="melissa, doug, melissa and doug, melissa and doug toys, jefin toys, jefin, toys, toy distributor, malaysia, malaysia distributor, premium toys, quality toys, kids toys, kids, children toys, children, games, educational toys, wooden toys, classic toys, puzzles, water wow">
  <meta name="description" content="Jefin Toys distributes Melissa and Doug toys in Malaysia.">
  <!--link to stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Saira+Extra+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.0/gridlex.min.css">
  <!--css file-->
  <link rel="stylesheet" href="/css/style.css" />
</head>
