<div class="pagetop-blurb pagetop-blurb-content">
  <h3>
      Follow<a href="https://www.instagram.com/jefintoys/" target="_blank"> @jefintoys</a> on Instagram!
  </h3>
  <p>
    #MelissaAndDoug #TakeBackChildhood #CountlessWaysToPlay
  <p>
</div>

<div class="grid-equalheight">
  {% for instapix in page.instapix %}
  <div class="col-2_sm-6 colortobw-pic">
    <a href="https://www.instagram.com/jefintoys/" target="_blank">
      <img src="/images/{{instapix.pic}}" alt=""></a>
  </div>
  {% endfor %}
</div>
