<!--main homepage section-->
<section class="main-section">
  <div class="main-section-content">
    <section>
      <div class="grid-center col-12">

        <div class="col-3_md-12 main-tile">
          <h2>Our Story</h2>
          <p>Jefin Toys distributes Melissa & Doug products that offer children Countless Ways to Play!</p>
            <div>
              <div class="link-block">
                <a href="/story" class="btn btn-action1">about us</a>
              </div>
            </div>
          <div class="homepic zoompic">
            <a href="/story"><img src="/images/melissaanddougcommunity.png" alt=""></a>
          </div>
        </div>

        <div class="col-3_md-12 main-tile">
          <h2>Our Toys</h2>
          <p>Melissa & Doug toys encourage creativity, free play, learning, imagination and discovery!</p>
            <div>
              <div class="link-block">
                <a href="/toys" class="btn btn-action1">learn more</a>
              </div>
            </div>
          <div class="homepic zoompic">
            <a href="/toys"><img src="/images/melissaanddougourtoys.png" alt=""></a>
          </div>
        </div>

        <div class="col-3_md-12 main-tile">
          <h2>Our Stores</h2>
          <p>You can find Melissa & Doug in stores all across Malaysia and online through Jefin Toys!</p>
            <div>
              <div class="link-block">
                <a href="/store-finder" class="btn btn-action1">where to buy</a>
              </div>
            </div>
          <div class="homepic zoompic">
            <a href="/store-finder"><img src="/images/melissaanddougstores.png" alt=""></a>
          </div>
        </div>

      </div>
    </section>
  </div>
</section>
